@media screen and (min-width: 768px){
    .header-container{
        text-align: start;
        padding-left: 20px;
    }
    
    .title-video{
        font-size: 40px;
    }

    .extension-text{
        display: inline;
    }

    .main-container{
    padding: 30px 30px;
    }

    /*griglia*/

    .btn-social{
        padding: 10px 50px;
    }

    .banner{
        display: block;
    }

    .img-tiramisu{
        float: left;
        width: 300px;
        margin-right: 10px;
    }

    .img-box{
    padding: 20px 0;
    }

}


@media screen and (min-width: 992px){
    .title-video{
        font-size: 50px;
    }

    .name-social{
        display: inline;
    }

    .btn-social{
        padding: 10px 30px;
    }

    .container-footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .box-link li{
        padding-left: 10px;
    }

 




}
