/* CSS Generics*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Helvetica Neue', sans-serif;
    min-width: 767px;
    background-color: #F6F5F3;
}

/* Utils */
.upper-space{
    padding-top: 15px;
}

.bottom-space{
    padding-bottom: 15px;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style-type: none;
}

a{
    color: white;
}

/* BTN */
.btn{
    color: white;
    padding: 10px 20px;
}

.btn-orange{
    background-color: #FD9613;
    border-radius: 30px;
}

.btn-purple{
    background-color: #7C69A4;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-social{
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
}

/* Header */
.header-container{
    background-color: white;
    color: #FD9613;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

/* Main */
.main-container{
    padding: 20px 20px;
}

/*SECTION: TITLE*/
.title-menu{
    font-weight: lighter;
    font-size: 20px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-video{
    color: #4E3969;
    font-size: 30px;
    font-weight: 800;
}

.extension-text{
    display: none;
}


i{
    color: #FD9613;
}

/*--SECTION: INFO*/

.info-menu{
    background-color: white;
    padding: 40px 40px;
}

.box{
    background-color: rgba(66, 2, 112, 0.1);
    padding: 20px 20px;
}

.underline{
    border-bottom: 1px solid rgb(181, 181, 181);
}

.text-orange{
    color: #FD9613;
    font-size: 25px;
}

.fa-carrot{
    color: black;
}

.symbol-box {
    line-height: 30px;
}

/* SECTION: BADGES */
.badges-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 50px 0;
}

.name-social{
    color: black;
    display: none;
}

/*BTN COLOR*/
.fa-facebook{
    color: #1D77F3;
}

.fa-twitter{
    color: #1F9EFF;
}

.fa-instagram{
    color: #E2518B;
}

.fa-pinterest{
    color: #E62634;
}

.fa-youtube{
    color: #E62222;
}

/*SECTION: BANNER*/
.banner{
    display: none;
}

/*SECTION: PRESENTATION*/

.title-paragraph{
    font-size: 50px;
    font-weight: 300;
}

.img-box{
    padding: 20px 100px;
}

.line{
    border: 2px solid orange;
    width: 100px;
}

.paragraph{
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;
}

/* Footer */
footer{
    background-color: #7C69A4;
    color: white;
}

.main-footer{
    text-align: center;
    line-height: 30px;
}

.fa-copyright{
    color: white;
}

.box-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

